<app-adminnavbar></app-adminnavbar>

<div class="container"  style="max-width:95%;">
    <table class="table table-hover my-5">
        <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">WareHouse Name</th>
            <th scope="col">Password</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">DOB</th>
            <th scope="col">DateOfJoining</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">I223</td>
            <td scope="col">Kausic M</td>
            <td scope="col">Kausicm30@gmail.com</td>
            <td scope="col">Warehouse1</td>
            <td scope="col">kausic</td>
            <td scope="col">-91 9894748270</td>
            <td scope="col">28/09/2000</td>
            <td scope="col">28/09/2021</td>
            <td>28/09/2021</td>
            <td>25/10/2021</td>
          </tr>
          <tr>
            <td scope="col">I224</td>
            <td scope="col">Matha Mohan M</td>
            <td scope="col">mathan@gmail.com</td>
            <td scope="col">Warehouse4</td>
            <td scope="col">mathan</td>
            <td scope="col">-91 6383748456</td>
            <td scope="col">23/04/2000</td>
            <td scope="col">21/05/2021</td>
            <td>21/05/2021</td>
            <td>25/05/2021</td>
          </tr>
          <tr>
            <td scope="col">I229</td>
            <td scope="col">Balu Raja Durai S</td>
            <td scope="col">balu@gmail.com</td>
            <td scope="col">Warehouse4</td>
            <td scope="col">balu</td>
            <td scope="col">-91 8794744570</td>
            <td scope="col">17/09/2000</td>
            <td scope="col">08/09/2021</td>
            <td>08/09/2021</td>
            <td>17/10/2021</td>
          </tr>
          <tr>
            <td scope="col">I227</td>
            <td scope="col">Manickam R</td>
            <td scope="col">manickam@gmail.com</td>
            <td scope="col">Warehouse2</td>
            <td scope="col">manickam</td>
            <td scope="col">-91 7694757970</td>
            <td scope="col">21/04/2000</td>
            <td scope="col">25/09/2021</td>
            <td>25/09/2021</td>
            <td>27/10/2021</td>
          </tr>
          
        </tbody>
        <tbody>
        <!-- <tr *ngFor="let transaction_details of t_details">
            <td>{{transaction_details.Customer }}</td>
            <td>{{transaction_details.Type }}</td>
            <td>{{transaction_details.Description }}</td>
            <td>{{transaction_details.Amount }}</td>
        </tr> -->
        </tbody>
    </table>
    </div>