<app-adminnavbar></app-adminnavbar>

<div class="container"  style="max-width:95%;">
    <table class="table table-hover my-5">
        <thead>
        <tr>
            <th colspan="8" style="text-align:center;">Receiver Details</th>
            <th colspan="6" style="text-align:center;">Package Details</th>
            <th colspan="2" style="text-align:center;"> Date/Time</th>
        </tr>
        <tr>
          <th scope="col">Order Id</th>
            <th scope="col">Email Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Package Length</th>
            <th scope="col">Package Width</th>
            <th scope="col">Package Weight</th>
            <th scope="col">Package Height</th>
            <th scope="col">Employee Id</th>
            <th scope="col">Package Quantity</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">3076</td>
            <td scope="col">Kausicm30@gmail.com</td>
            <td scope="col">Kausic M</td>
            <td scope="col">6/129, Kuranchi Nagar, Siruvachur(PO), Attur(TK), Salem(DT)</td>
            <td scope="col">Salem</td>
            <td scope="col">Tamil Nadu</td>
            <td scope="col">-91 9894748270</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td>28/09/2021</td>
            <td>25/10/2021</td>
          </tr>
          <tr>
            <td scope="col">211207GT95NUP1</td>
            <td scope="col">mathan@gmail.com</td>
            <td scope="col">Mathan Mohan  M</td>
            <td scope="col">6/129, Sulur Coimbatore(DT)</td>
            <td scope="col">Coimbatore</td>
            <td scope="col">Tamil Nadu</td>
            <td scope="col">-91 9894457270</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td>23/10/2021</td>
            <td>24/10/2021</td>
          </tr>
          <tr>
            <td scope="col">211207GM1PQCMC</td>
            <td scope="col">dinesh@gmail.com</td>
            <td scope="col">Dinesh M</td>
            <td scope="col">7/22, Maathuran street, Hyderabad </td>
            <td scope="col">konoor/td>
            <td scope="col">Telangana</td>
            <td scope="col">-91 9893483270</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td>16/10/2021</td>
            <td>25/10/2021</td>
          </tr>
          <tr>
            <td scope="col">3076</td>
            <td scope="col">balu30@gmail.com</td>
            <td scope="col">Balu Raja Durai S</td>
            <td scope="col">7/22, Maathuran street, Hyderabad </td>
            <td scope="col">konoor/td>
            <td scope="col">Telangana</td>
            <td scope="col">-91 9893483270</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td scope="col">--</td>
            <td>06/09/2021</td>
            <td>08/10/2021</td>
          </tr>
          
        </tbody>
        <tbody>
        <!-- <tr *ngFor="let transaction_details of t_details">
            <td>{{transaction_details.Customer }}</td>
            <td>{{transaction_details.Type }}</td>
            <td>{{transaction_details.Description }}</td>
            <td>{{transaction_details.Amount }}</td>
        </tr> -->
        </tbody>
    </table>
    </div>