<app-employeenavbar></app-employeenavbar>

<div class="container"  style="max-width:95%;">
  <table class="table table-hover my-5">
      <thead>
      <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Category</th>
          <th scope="col">Color</th>
          <th scope="col">Listing price</th>
          <th scope="col">Created At</th>
          <th scope="col">Updated At</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col">Ec_lap30</td>
          <td scope="col">MSI Stealth 15M Core i7 11th Gen Laptop</td>
          <td scope="col">16 GB/1 TB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/144 Hz) Stealth 15M A11UEK-227IN Gaming Laptop  (15.6 inch, 1.7 KG</td>
          <td scope="col">Electronics</td>
          <td scope="col">Carbon Gray</td>
          <td scope="col">₹1,34,990</td>
          <td scope="col">07/09/2021</td>
          <td scope="col">09/11/2021</td>
        </tr>
        <tr>
          <td scope="col">Ec_pc36</td>
          <td scope="col">APPLE ALL IN ONE Core i5</td>
          <td scope="col">5th Gen) (8 GB DDR3/1 TB/Mac OS X Lion/1 GB/21.5 Inch Screen/MK442HN/A) Mac OS X Lion
            Intel Core i5 (5th Gen)
            HDD Capacity 1 TB
            RAM 8 GB DDR3
            21.5 inch Display</td>
          <td scope="col">Electronics</td>
          <td scope="col">silver</td>
          <td scope="col">₹1,07,900</td>
          <td scope="col">18/10/2021</td>
          <td scope="col">02/11/2021</td>
        </tr>
        <tr>
          <td scope="col">Ec_pg38</td>
          <td scope="col">HP INK TANK WIRELESS 419 Multi-function WiFi Color Printer with Voice Activated Printing Google Assistant and Alexa </td>
          <td scope="col">Output: Color
            WiFi, WiFi Direct | USB
            Cost per Page (Black): 10 Paise | Cost per Page (Color): 20 Paise
            Print Speed Mono A4: 19 ppm | Print Speed Color A4: 15 ppm
            Duty cycle (monthly, A4): 8000 Pages</td>
          <td scope="col">Electronics</td>
          <td scope="col">Blue, Black, Ink Tank)</td>
          <td scope="col">₹15,499</td>
          <td scope="col">07/08/2021</td>
          <td scope="col">09/12/2021</td>
        </tr>
        <tr>
          <td scope="col">Ec_bg25</td>
          <td scope="col">APPLE iPad Pro 2021</td>
          <td scope="col">APPLE iPad Pro 2021 (3rd Generation) 8 GB RAM 128 GB ROM 11 inches with Wi-Fi Only</td>
          <td scope="col">Electronics</td>
          <td scope="col">Space Grey)</td>
          <td scope="col">₹71,900</td>
          <td scope="col">19/07/2021</td>
          <td scope="col">18/11/2021</td>
        </tr>
        <tr>
          <td scope="col">Ec_camera30</td>
          <td scope="col">Canon EOS 80D DSLR Camera Body with 18-135 mm Lens</td>
          <td scope="col">
            Effective Pixels: 24 MP
            Sensor Type: CMOS
            WiFi Available
            1080p at 60p + Time-Lapse</td>
          <td scope="col">Electronics</td>
          <td scope="col">Black</td>
          <td scope="col">₹93,999</td>
          <td scope="col">25/10/2021</td>
          <td scope="col">30/11/2021</td>
        </tr>
        <tr>
          <td scope="col">Ec_ac32</td>
          <td scope="col">CARRIER 4 in 1 Convertible Cooling 2 Ton 5 Star Split Inverter AC</td>
          <td scope="col">16 GB/1 TB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/144 Hz) Stealth 15M A11UEK-227IN Gaming Laptop  (15.6 inch, Carbon Gray, 1.7 KG</td>
          <td scope="col">Electronics</td>
          <td scope="col">white</td>
          <td scope="col">₹51,490</td>
          <td scope="col">23/09/2021</td>
          <td scope="col">22/10/2021</td>
        </tr>
        
      </tbody>
      <!-- <tbody>
      <tr *ngFor="let transaction_details of t_details">
          <td>{{transaction_details.Customer }}</td>
          <td>{{transaction_details.Type }}</td>
          <td>{{transaction_details.Description }}</td>
          <td>{{transaction_details.Amount }}</td>
      </tr>
      </tbody> -->
  </table>
</div>